# IDEs
.vscode/
.idea/

# OS specific files
.DS_Store

# Build output
noroi
dist/

# Environment variables
.env
.env.local

# Python cache and virtual environment
__pycache__/
.venv

# Editor swap files
*.swp
*.swo
*~

# Test coverage & profiling
*.out
*.prof
*.test
coverage.txt

# Temporary files
*.tmp
tmp/
